<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="../post.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="signup-box">
      <h1>Post</h1>
      <form method="POST" action="/admin/add_post" enctype="multipart/form-data">
        <label>Title</label>
        <input type="text" name="title" placeholder="" />
        <label>Description</label>
        <textarea cols="50" rows="7" name="description" placeholder="" ></textarea>
        <input type="file" name="image" value="Select Image" />
        <input type="submit" name="" value="Post" />
      </form>
    </div>
  </body>
</html>