<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="login.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="login-box">
      <form action="/edit_comment?comment_id={{comment_id}}" method="POST">
        <textarea rows="5" style="width:100%; margin-top:10px;" name="comment_content" placeholder="make a comment..."></textarea>
        <input type="submit" value="Edit"/>
        </form>
    </div>
    
  </body>
</html>